<div class="weather__container">
  <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
    <ng-container *ngIf="news$ | async as news; else elseTemplate">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{news.TitleThai}}</mat-card-title>
          <mat-card-subtitle>{{news.TitleEnglish}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{news.DescriptionThai}}
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-template #elseTemplate>
      <mat-spinner></mat-spinner>
    </ng-template>

  </div>

</div>
