<div>
  <mat-sidenav-container fullscreen>

    <div class="app__container">
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <span class="app__toolbar-title">{{title}}</span>
        <div class="app__toolbar-menu">
          <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="item.link">
            {{item.label}}
          </button>

          <a href="https://gitlab.com/prasom/we-always-learn-workspace" target="_blank" rel="noopener noreferrer"
            mat-icon-button>
            <mat-icon aria-label="label">code</mat-icon>
          </a>
        </div>

      </mat-toolbar>
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </mat-sidenav-container>


</div>
